*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.choices{
  display: flex;
  gap: 2rem;
  margin-bottom: 50px;
  
}
.score{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  
}
.text{
  margin: 50px;
}
.btn {
  margin: 10px 25px;
  padding: 4px 25px;
  border: solid 1px;
  border-radius: 6px;
  cursor: pointer;
}